html{
    font-family: sans-serif, verdana;
}
.clearbox{
    position: absolute;
    box-shadow: 0 0 5px;
    background: rgb(209, 189, 189);
    opacity: .9;
    top: 250px;
    height: 65%;
    width: 40%;
    left: 450px; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    Text-align: left;
    letter-spacing:3px;
    line-height: 175%;
    padding: 10px;
}
.heading {
    background-color: grey;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    border-top: 5px solid yellow;
    border-bottom: 10px solid grey;

}
.container{
    width: 30%;
}
h1{
    color:yellow;
}
h2{
    color: black;
    font-weight:bold;
    text-align: center;
}
img{
    height: 400px;
    width: 100%;
}
input{
    background: grey;
    width: 150px;
    height: 50px;
    font-weight: 200;
    box-shadow: 0 0 5px;
    text-align: center;
    margin-right: 100px;
    font-weight: 900;
}

.body-nav .designers .lowertab{
    background: grey;
    width: 150px;
    height: 50px;
    font-weight: bold;
    box-shadow: 0 0 5px; 
}
.body-nav{
    display: flex;
}
a:hover{
    color: yellow;
}
.toplinks{
    display: inline;
    color: black;
   
}

.column1 {
    width: 100%;
    height: 100px;
    background-color: black;
    font: white;  
    border-bottom: 5px solid yellow;
}
.column {
    text-align: left;
    width: 100%;
    height: 100px;
    background-color: black;
    font: white;  
    
}
strong{
    color: white;
    text-align: left;
}
.profile{
    width: 30%; 
   
}
.devs{
     display: inline;
}
.devs a{
    font-weight: bold;
}
.designers{
    display: inline;
}
.designers a{
    font-weight: bold;
}
.devs ::before {
    
}
.devs ::after {
    
}
.headlinks{
    text-align: right;   
}
p{
    
}
ins{
   background-color:yellow;
   color: black;
}
.col{
    width: 33%;
}