html{
    font-family: sans-serif, verdana;
}
.clearbox{
    position: absolute;
    box-shadow: 0 0 5px;
    background-color: rgb(209, 189, 189);
    opacity: .9;
    top: 35%;
    max-height: 50%;
    width: 45%;
    left: 450px; 
    right: 0; 
    margin-right: 2%;
    margin-left: auto; 
    Text-align: left;
    letter-spacing:3px;
    line-height: 175%;
    padding: 2%;
    overflow: hidden;
}
.heading {
    background-color:grey;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    border-top: 5px solid yellow;
    border-bottom: 10px solid grey;
    
}
.container{
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
h1{
    color:yellow;
}
h2{
    color: black;
    font-weight:bold;
    text-align: center;
}
input{
    font-family: 'Oswald', sans-serif;
    border: 0;
    border-radius: 5px;
    background: grey;
    width: 150px;
    height: 50px;
    font-weight: 200;
    box-shadow: 0 0 5px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    display: block;
    text-align: center;
    padding: 12px;
}
.body-nav{
    display: flex;
}
a:hover{
    color: yellow;
}
.column1 {
    width: 100%;
    background-color: black;
    font: white;  
    border-bottom: 5px solid yellow;
}
.column {
    text-align: left;
    width: 100%;
   
    background-color: black;
    font: white;  
    
}
strong{
    color: white;
    text-align: left;
}

.devs a{
    font-weight: bold;
    padding: 2% 3%;
    
}
.designers a{
    font-weight: bold;
    padding: 2% 3%;
}
.headlinks{   
    overflow: hidden;
    
}
ins{
   text-decoration: underline yellow;
}
.col{
    display: inline; 
    padding: 2% 3%;
    line-height: 175%;
    margin: auto;
}
span{
    padding: 2% 3%;
}
img{
    background-size: cover;
    width: 100%;
}
ul{
    float: right;
    margin-left: auto;
    margin-right: 2%;
}
li{
    float: left;
}